/* "GURI BURUZ" ESTILOAK */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    /* COLUMN erabiltzen dugu */
}
#menua{
    background-color: gray;
}
#menua li {
    flex-wrap: wrap;
}

#menua ul li {
    flex-grow: 1;
    text-align: center;
    padding: 7px;
    
}
#menua ul li a:hover {
    text-decoration: underline;
    color: white;
}

#menua ul li a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
#deskriptzioa {
    width: 40vw;
    border: 3px solid rgba(0, 0, 0, 0.233);
    text-align: justify;
    box-shadow: 20px 20px 20px rgba(255, 255, 255, 0.945);
    /* Kutxari itzala ipintzen diogu */
    backdrop-filter: blur(20px);
    border: solid white;
    /* Borrosoa agertzeko */
}
#deskriptzioa p {
    padding: 40px;
    font-size: 18px;
}

/* "GEHIEN ENTZUNDA" ESTILOAK */
#deskriptzioa h2 {
    text-align: center;
    padding: 20px;
  
}

#abestirudi {
    max-width: 80%;
    padding: 20px; /* Ajusta el espaciado de los lados para que no se vea demasiado ajustado en pantallas grandes */
}

#abestirudi h2 {
    text-align: center;
    padding: 10px;
}

#gehienentzunda {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo a columnas */
    align-items: center; /* Centra horizontalmente los elementos */
    text-align: center; /* Centra el texto */
}

#gehienentzunda h3 {
    display: none; /* Oculta el texto "Gehien Entzunda" para pantallas grandes */
}

#gehienentzunda ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no hay suficiente espacio horizontal */
}

#gehienentzunda li {
    flex: 1; /* Hace que cada elemento ocupe el mismo espacio dentro del contenedor */
    margin: 0 5px; /* Agrega un pequeño margen entre las imágenes */
}

#gehienentzunda img {
    max-width: 100%;
    height: auto;
    display: block; /* Evita que las imágenes tengan espacio adicional debajo */
}

/* Estilos para pantallas pequeñas (menos de 600px de ancho, por ejemplo) */
@media screen and (max-width: 800px) {
    #gehienentzunda h3 {
        display: block; /* Muestra el texto "Gehien Entzunda" para pantallas pequeñas */
    }
    #gehienentzunda ul {
        flex-direction: column; /* Cambia la dirección del flujo a columnas */
        align-items: center; /* Centra horizontalmente los elementos */
    }
}

