#langileak-container {
  display: flex;
  flex-wrap: wrap; 
}

.langileak-group {
  flex: 1;
}

.langileak-groupb {
  flex: 1;
}

.langile-info {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(50% - 22px); 
  box-sizing: border-box; 
  display: flex;
  align-items: center;
}


.langilea_img {
  width: 100px; 
  height: auto; 
  margin-right: 10px;
}


@media screen and (max-width: 1050px) {
  .langileak-group,
  .langile-info {
    width: 100%; 
    margin-left: 0;
  }
}
