
/* Estilo-reset bat marjinak eta padding lehenetsiak ezabatzeko */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Formularioaren gorputzerako oinarrizko estiloa */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

/* Saio-hasierako formularioko edukiontzirako estiloa */
form {
    width: 60%; /* Doitu zabalera zure lehentasunen arabera */
    max-width: 400px; /* Gehieneko zabalera ezartzen du */
    margin: 20px auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

/* Formularioko titulurako estiloa */
.caption {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Ordenatu gabeko zerrendarako estiloa */
ul {
    list-style: none;
    padding: 0;
}



/* Zerrendako elementu bakoitzerako estiloa */
li {
    margin-bottom: 15px;
}

/* Eremuetako etiketetarako estiloa */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10   px;
}

/* Testua eta pasahitza sartzeko eremuetarako estiloa */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit botoirako estiloa */
input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

/* Submit botoirako estiloa, sagua gainetik pasatzean */
input[type="submit"]:hover {
    background-color: #2980b9;
}

.logo-kontainer {
    margin-right: auto; 
}

.logo {
    width: 80px; 
    height: auto; 
    font-size: 20px;
}
